

@font-face {
    font-family: Mono;
    src: url(SyneMono-Regular.ttf);
  }
  body {
      margin: 0;
      overflow-x: hidden;
  }
  /* Set width and height of the iframes */
  iframe {
  
    width: 100vw;
    height: 100vh;
    
    border: none; /* Removes default iframe border */
  
  }
  
  .intro {
    text-align: none;
    outline: 1px solid black; /* You can change the color and thickness as needed */
  }
  
  
  .drawbg {
    z-index: 0;
    position: absolute;
    mix-blend-mode: overlay;
  
  }
  
  .bg1 {
    mix-blend-mode: multiply;
    pointer-events: none;
  }
  
  
  .structure p {
   text-align: center;
  z-index: 100;
    font-size: larger;
    font-family: Mono;
    position: absolute;
  }
  
  .pattern {
  
  
    position: relative;
    mix-blend-mode: difference;
    z-index: 90; /* Set a lower z-index value */
    
  }
  
  h1 {
    font-family: 'Krub', sans-serif;
    -webkit-backdrop-filter: var(--filter-blur);
    backdrop-filter: var(--filter-blur);
    background-color: rgba(230,234,238,.8);
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
    display: flex;
  
    /* justify-content: space-between; */
    line-height: 1;
    outline: 1px solid black; /* You can change the color and thickness as needed */
  
  
  }
  
 
  .melancholia p {
    top: 100px;
  
    font-size: larger;
    font-family: Mono;
    position: relative;
    z-index: 100;
  }
  .slide4 p {
  
    text-align: center;
    font-size: larger;
    font-family: Mono;
    position: absolute;
    background-color: aliceblue;
  }
  
  .intro p {
    text-align: center;
   font-size: larger;
    font-family: Mono;
    position: relative;
  }
  
  .slide2 p {
    font-size: larger;
    font-family: Mono;
    position: relative;
    background-color: azure;
  }
  
  
  .four {
  
    position: absolute;
    z-index: 2; /* Set a higher z-index value */
  }
  
  .bg {
    position: relative;
    mix-blend-mode: difference;
    z-index: 0; /* Set a lower z-index value */
  }
  
  .bgmain {
    position: absolute;
    z-index: 0;
  }
  /* Flex container for vertical alignment */
  main {
    display: flex;
    flex-direction: column;
  }
  