

body {
    margin: 0;
    overflow-x: hidden;
}
/* Set width and height of the iframes */
iframe {
  width: 100vw;
  height: 100vh;
  display: block; /* Ensures that iframes behave as block-level elements */
  border: none; /* Removes default iframe border */

}

.four {

  position: absolute;
  z-index: 2; /* Set a higher z-index value */
}

.bg {
  position: absolute;
  z-index: 0; /* Set a lower z-index value */
}


/* Flex container for vertical alignment */
main {
  display: flex;
  flex-direction: column;
}
