

@font-face {
  font-family: Mono;
  src: url(SyneMono-Regular.ttf);
}
body {
    margin: 0;
    overflow-x: hidden;
}
/* Set width and height of the iframes */
iframe {

  width: 100vw;
  height: 100vh;
  display: flex; /* Ensures that iframes behave as block-level elements */
  border: none; /* Removes default iframe border */

}

.intro {
  text-align: none;
  outline: 1px solid black; /* You can change the color and thickness as needed */
}


.pattern {

    position: absolute;
    z-index: 0; /* Set a lower z-index value */
  
}

h1 {
  font-family: 'Krub', sans-serif;
  -webkit-backdrop-filter: var(--filter-blur);
  backdrop-filter: var(--filter-blur);
  background-color: rgba(230,234,238,.8);
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  padding-left: 50px;
  /* justify-content: space-between; */
  line-height: 1;
  outline: 1px solid black; /* You can change the color and thickness as needed */


}

.ascii {
z-index: 5;
position: absolute;
mix-blend-mode: hard-light;
filter: sepia();
transform: translateX(50vw); /* Adjust the value as needed */
width: 50vw;

}

.ascii2 {
  
  z-index: 5;
  position: absolute;
  mix-blend-mode: overlay;
  filter: invert() hue-rotate(500deg) brightness(50%);
  width: 50vw;
}

.melancholia p {
  top: 100px;
padding-left: 20%;
padding-right: 20%;
  font-size: larger;
  font-family: Mono;
  position: relative;
  z-index: 3;
}
.slide4 p {

  text-align: center;
  margin: 20%;
  font-size: larger;
  font-family: Mono;
  position: absolute;
  z-index: 300;
  padding: 20px;
  background-color: aliceblue;
}

.intro p {
  text-align: center;
margin: 20%;
 font-size: larger;
  font-family: Mono;
  position: relative;
  z-index: 3;
}

.slide2 p {
top: 100px;
padding-left: 20%;
padding-right: 20%;
  font-size: larger;
  font-family: Mono;
  position: relative;
  z-index: 3;
}


.four {

  position: absolute;
  z-index: 2; /* Set a higher z-index value */
}

.bg {
  position: relative;
  mix-blend-mode: difference;
  z-index: 90; /* Set a lower z-index value */
}

.bgmain {
  position: absolute;
  z-index: 0;
}
/* Flex container for vertical alignment */
main {
  display: flex;
  flex-direction: column;
}
