.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 3; }
    .left { grid-area: 2 / 1 / 4 / 2; }
    .right { grid-area: 2 / 2 / 4 / 3; }
    .footer { grid-area: 4 / 1 / 5 / 3; }


    .header {
        display: grid;
        justify-content: center;
        align-items: center;
    }
  